<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link rel="shortcut icon" href="img/favicons/favicon.png" type="image/x-icon">
<link rel="icon" href="img/favicons/favicon.png" type="image/x-icon">
<link rel="preconnect" href="css/fonts/fonts.css" crossorigin />
<link rel="preload" as="style" href="css/fonts/fonts.css" />
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="css/fonts/fonts.css" />
<link rel="stylesheet" media="all" href="css/libs.css" />
<link rel="stylesheet" media="all" href="css/style.css" />

