$colorBlack: #000;
$colorWhite: #FFF;
$colorGrey: #666;
$colorLightGrey: #999;
$colorDarkGrey: #333;
$colorGreen: #0C0;
$colorLightGreen: lighten($colorGreen, 10);
$colorDarkGreen: darken($colorGreen, 10);
$colorRed: #C00;
$colorLightRed: lighten($colorRed, 10);
$colorDarkRed: darken($colorRed, 10);

html,
body {
	height: 100%;
}
body {
	background: $colorWhite;
	color: $colorBlack;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25;
}
* {
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba($colorBlack, 0);
	&:before,
	&:after {
		box-sizing: border-box;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	line-height: 1;
	margin: 0;
}
img {
	vertical-align: top;
	max-width: 100%;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
ul,
ol {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
[class^='icon-'],
[class*=' icon-'] {
	position: relative;
	vertical-align: middle;
}
// include @extend %image-bg;
%image-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100%;
	overflow: hidden;
}
